# This file is part of my-docker-containers
# https://github.com/mgafner/my-docker-containers
#
# This is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <http://www.gnu.org/licenses/>.

# Example configuration file
# Please copy to .env before using docker-compose

# set your db server usernames and passwords
MYSQL_ROOT_PASSWORD=your-root-password
MYSQL_PASSWORD=your-mysql-password
MYSQL_DATABASE=homeassistant
MYSQL_USER=homeassistant

# traefik labels
# useful, if you are using traefik as frontend
TRAEFIK_DOMAIN=your-domain.tld
TRAEFIK_HOST=homeassistant.your-domain.tld
TRAEFIK_PORT=8123

