# This file is part of my-docker-containers
# https://github.com/mgafner/my-docker-containers
#
# This is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <http://www.gnu.org/licenses/>.

# Example configuration file
# Please copy to .env before using docker-compose

# set your next dns server
# you find free and safe dns servers on https://www.kuketz-blog.de/empfehlungsecke/#dns
DNS1=91.239.100.100
DNS2=146.185.167.43

# traefik labels
# useful, if you are using traefik as frontend
TRAEFIK_DOMAIN=yourdomain.tld
TRAEFIK_HOST=traefik.yourdomain.tld
TRAEFIK_PORT=8080

